<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="handlePost()">点击触发post</button>
    <div>
      <!-- <p><%=  %></p> -->
      <p><%= req.app.get('views') %></p>
      <p><%= req.route %></p>
    </div>
  </body>
  <script>
    function handlePost() {
      let xhr = new XMLHttpRequest();
      xhr.open('POST', '/', true);
      // xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.send({aaa: 'bbb'});
      console.log(xhr);
      xhr.onloadend = function() {
        console.log(xhr.response);
      }
    }
  </script>
</html>
